---
- name: "Configure Server | Create custom config directory"
  become: true
  ansible.builtin.file:
    path: "{{ censhare_config_path }}"
    state: directory
    mode: '0755'
    owner: "corpus"
    group: "corpus"

- name: "Configure Server | Create custom launcher config"
  delegate_to: "{{ inventory_hostname | regex_replace('css.*', 'css01') }}"
  become: true
  ansible.builtin.template:
    src: "{{ censhare_majmin_version }}/config/launcher_xml.j2"
    dest: "{{ censhare_config_path }}/launcher.{{ censhare_css_id }}.xml"
    mode: '0644'
    owner: "corpus"
    group: "corpus"

- name: "Configure Server | Create custom server config"
  delegate_to: "{{ inventory_hostname | regex_replace('css.*', 'css01') }}"
  become: true
  ansible.builtin.template:
    src: "{{ censhare_majmin_version }}/config/server_xml.j2"
    dest: "{{ censhare_config_path }}/server.{{ censhare_css_id }}.xml"
    mode: '0644'
    owner: "corpus"
    group: "corpus"
