---
- name: "Install podman-docker"
  become: true
  ansible.builtin.dnf:
    name: podman-docker
    state: "present"

- name: Ensure runc is installed
  become: true
  ansible.builtin.dnf:
    name: runc
    state: present

- name: Create /etc/containers directory if it doesn't exist
  become: true
  ansible.builtin.file:
    path: /etc/containers
    state: directory
    mode: '0755'

- name: Create iccprofiles directory if it doesn't exist
  become: true
  ansible.builtin.file:
    path: "{{ censhare_sclient_iccprofiles_dir }}"
    state: directory
    mode: '0755'

- name: Configure Podman to use runc as the default runtime
  become: true
  ansible.builtin.copy:
    dest: /etc/containers/containers.conf
    content: |
      [engine]
      runtime = "runc"
    mode: '0644'

- name: "Create podman network for service-client"
  become: true
  containers.podman.podman_network:
    name: "{{ censhare_sclient_container_network }}"
    state: present

- name: "Pull the cs-image-tools image"
  become: true
  containers.podman.podman_image:
    name: "{{ censhare_sclient_tools_image }}"
    tag: "{{ censhare_sclient_tools_version }}"
    state: present

- name: Generate systemd unit for collabora container
  become: true
  ansible.builtin.template:
    src: container-collabora.service.j2
    dest: "/etc/systemd/system/{{ censhare_sclient_collabora_name }}.service"
    mode: '0644'
  notify: Restart collabora service unit

- name: Generate systemd unit for service-client container
  become: true
  ansible.builtin.template:
    src: container-service-client.service.j2
    dest: "/etc/systemd/system/container-{{ censhare_sclient_svc_name }}.service"
    mode: '0644'
  notify: Restart service-client service unit

- name: Reload systemd daemon
  become: true
  ansible.builtin.systemd:
    daemon_reload: true

- name: Enable and start collabora service unit
  become: true
  ansible.builtin.systemd:
    name: "{{ censhare_sclient_collabora_name }}"
    enabled: true
    state: started

- name: Enable and start service-client service unit
  become: true
  ansible.builtin.systemd:
    name: "container-{{ censhare_sclient_svc_name }}"
    enabled: true
    state: started
