---
- name: "Install podman-docker"
  become: true
  ansible.builtin.dnf:
    name: podman-docker
    state: "present"
- name: Ensure runc is installed
  become: true
  ansible.builtin.yum:
    name: runc
    state: present

- name: Create /etc/containers directory if it doesn't exist
  become: true
  ansible.builtin.file:
    path: /etc/containers
    state: directory
    mode: '0755'

- name: Configure Podman to use runc as the default runtime
  become: true
  ansible.builtin.copy:
    dest: /etc/containers/containers.conf
    content: |
      [engine]
      runtime = "runc"
    mode: '0644'

- name: "Create podman network for service-client"
  become: true
  containers.podman.podman_network:
    name: censhare
    state: present
- name: "Pull the collabora Docker image"
  become: true
  containers.podman.podman_image:
    name: docker.io/collabora/code
    tag: "{{ censhare_sclient_collabora_version }}"
    state: present
- name: "Create collabora container using Podman"
  become: true
  containers.podman.podman_container:
    name: collabora
    image: "docker.io/collabora/code:{{ censhare_sclient_collabora_version }}"
    state: started
    restart_policy: always
    network: censhare
    env:
      extra_params: '--o:ssl.enable=false'
- name: "Pull the cs-image-tools image"
  become: true
  containers.podman.podman_image:
    name: docker.io/ahuservices/cs-image-tools
    tag: "{{ censhare_sclient_tools_version }}"
    state: present
- name: "Create censhare-Service-Client container using Podman"
  when: not censhare_sclient_direct_volumes
  become: true
  containers.podman.podman_container:
    name: service-client
    image: "docker.io/ahuservices/cs-image-tools:{{ censhare_sclient_tools_version }}"
    state: started
    restart_policy: always
    network: censhare
    env:
      REPO_USER: "{{ censhare_sclient_repo_user }}"
      REPO_PASS: "{{ censhare_sclient_repo_pass }}"
      VERSION: "{{ censhare_sclient_censhare_version }}"
      SVC_USER: '{{ censhare_sclient_svc_user }}'
      SVC_PASS: '{{ censhare_sclient_svc_pass }}'
      SVC_HOST: '{{ censhare_sclient_svc_host }}'
      OFFICE_URL: 'http://collabora:9980/cool/convert-to/pdf'
- name: "Create censhare-Service-Client container using Podman with volumes"
  when: censhare_sclient_direct_volumes
  become: true
  containers.podman.podman_container:
    name: service-client
    image: "docker.io/ahuservices/cs-image-tools:{{ censhare_sclient_tools_version }}"
    state: started
    restart_policy: always
    network: censhare
    env:
      REPO_USER: "{{ censhare_sclient_repo_user }}"
      REPO_PASS: "{{ censhare_sclient_repo_pass }}"
      VERSION: "{{ censhare_sclient_censhare_version }}"
      SVC_USER: '{{ censhare_sclient_svc_user }}'
      SVC_PASS: '{{ censhare_sclient_svc_pass }}'
      SVC_HOST: '{{ censhare_sclient_svc_host }}'
      OFFICE_URL: 'http://collabora:9980/cool/convert-to/pdf'
      VOLUMES_INFO: "{{ censhare_sclient_volumes_info | to_json }}"
    volume: "{{ censhare_sclient_volumes }}"
