---
- name: Install dependencies for acme.sh
  ansible.builtin.package:
    name:
      - curl
      - socat
    state: present

- name: Check if acme.sh is already installed
  ansible.builtin.stat:
    path: /root/.acme.sh/acme.sh
  register: acme_sh_installed

- name: Install acme.sh
  ansible.builtin.command:
    cmd: "curl https://get.acme.sh | sh"
  when: not acme_sh_installed.stat.exists

- name: Ensure acme.sh is available in PATH
  ansible.builtin.lineinfile:
    path: /root/.bashrc
    line: 'export PATH="$HOME/.acme.sh:$PATH"'
    state: present

- name: Reload bashrc to include acme.sh in PATH
  ansible.builtin.shell:
    cmd: "source /root/.bashrc"
    executable: /bin/bash
