---
dependency:
  name: galaxy
driver:
  name: docker
platforms:
  - name: "haproxy-${image:-al-systemd}-${tag:-9}"
    image: "${namespace:-mullholland}/${image:-docker-almalinux-systemd}:${tag:-9}"
    volumes:
      - /sys/fs/cgroup:/sys/fs/cgroup:rw
    cgroupns_mode: host
    privileged: true
    pre_build_image: true
    override_command: false
    networks:
      - name: dockernet
    groups:
      - loadbalancer
  - name: nginx-backend
    image: nginx:alpine
    networks:
      - name: dockernet
    expose:
      - "8080"
      - "8082"
      - "9000"
      - "30546"
    ports:
      - "8080:8080"
      - "8082:8082"
      - "9000:9000"
      - "30546:30546"
    volumes:
      - "${PWD}/molecule/default/mockup/port8080:/var/www/html/port8080"
      - "${PWD}/molecule/default/mockup/port8082:/var/www/html/port8082"
      - "${PWD}/molecule/default/mockup/port9000:/var/www/html/port9000"
      - "${PWD}/molecule/default/mockup/port30546:/var/www/html/port30546"
      - "${PWD}/molecule/default/mockup/nginx.conf:/etc/nginx/nginx.conf:ro"
      - "${PWD}/molecule/default/mockup/nginx-selfsigned.crt:/etc/nginx/ssl/nginx-selfsigned.crt:ro"
      - "${PWD}/molecule/default/mockup/nginx-selfsigned.key:/etc/nginx/ssl/nginx-selfsigned.key:ro"
    command: "/bin/sh -c 'nginx -g \"daemon off;\"'"
provisioner:
  name: ansible
verifier:
  name: ansible
