---
- name: Verify the setup
  hosts: all
  gather_facts: false
  tasks:
    - name: Gather collabora container info
      containers.podman.podman_container_info:
        name: collabora
      register: collabora_info

    - name: Verify collabora container is running
      ansible.builtin.assert:
        that:
          - collabora_info.containers[0].State.Status == 'running'
        fail_msg: "Collabora container is not running."
        success_msg: "Collabora container is running."

    - name: Gather service-client container info
      containers.podman.podman_container_info:
        name: service-client
      register: service_client_info

    - name: Verify service-client container is running
      ansible.builtin.assert:
        that:
          - service_client_info.containers[0].State.Status == 'running'
        fail_msg: "Service-client container is not running."
        success_msg: "Service-client container is running."

    - name: Verify environment variables of service-client container
      ansible.builtin.assert:
        that:
          - "'OFFICE_URL=http://collabora:9980/cool/convert-to/pdf' in service_client_info.containers[0].Config.Env"
        fail_msg: "Environment variables are not set correctly for service-client container."
        success_msg: "Environment variables are set correctly for service-client container."
