---
dependency:
  name: galaxy
driver:
  name: docker
platforms:
  - name: "csclient-${image:-al}-${tag:-9}"
    image: "${namespace:-mullholland}/${image:-docker-almalinux-systemd}:${tag:-9}"
    volumes:
      - /sys/fs/cgroup:/sys/fs/cgroup:rw
    cgroupns_mode: host
    privileged: true
    pre_build_image: true
    override_command: false
provisioner:
  name: ansible
  env:
    CENSHARE_REPO_USER: "${CENSHARE_REPO_USER}"
    CENSHARE_REPO_PASS: "${CENSHARE_REPO_PASS}"  
verifier:
  name: ansible
