---
# tasks file for ahu_services.censhare.censhare_keycloak

- name: Gather facts about the system
  ansible.builtin.setup:

- name: Determine the container engine based on OS
  ansible.builtin.set_fact:
    censhare_keycloak_container_engine: "{{ 'docker' if (ansible_distribution == 'Amazon' and ansible_distribution_major_version == '2023') else 'podman' }}"

- name: Which container engine to use
  ansible.builtin.debug:
    var: censhare_keycloak_container_engine

- name: Install the appropriate container engine
  when: censhare_keycloak_self_hosted
  block:
    - name: Install Docker on Amazon Linux 2023
      ansible.builtin.include_tasks: docker.yml
      when: censhare_keycloak_container_engine == "docker"

    - name: Install Podman on other distributions
      ansible.builtin.include_tasks: podman.yml
      when: censhare_keycloak_container_engine == "podman"

- name: Configure Delegated Database (Delegated Mode)
  when: censhare_keycloak_db_mode == "delegated" and censhare_keycloak_self_hosted
  ansible.builtin.include_tasks: database_delegated.yml
- name: Configure Delegated Database (Container Mode)
  when: censhare_keycloak_db_mode == "container" and censhare_keycloak_self_hosted
  ansible.builtin.include_tasks: database_container.yml
- name: Configure Keycloak TLS assets
  when: censhare_keycloak_tls_enabled
  ansible.builtin.include_tasks: tls.yml
- name: Configure SELinux and firewall access
  when: censhare_keycloak_self_hosted
  ansible.builtin.include_tasks: selinux.yml
- name: Keycloak Container Setup
  when: censhare_keycloak_self_hosted
  ansible.builtin.include_tasks: keycloak_install.yml
- name: Keycloak censhare Configuration
  ansible.builtin.include_tasks: keycloak_setup.yml
  tags: keycloak_setup
