---
- name: Verify Keycloak Setup
  hosts: all
  gather_facts: false
  tasks:
    - name: Check if censhare realm exists
      community.general.keycloak_realm_info:
        auth_keycloak_url: http://localhost:8080/auth
        realm: censhare
        validate_certs: false
      register: realm_info

    - name: Verify the censhare realm exists
      ansible.builtin.assert:
        that:
          - realm_info.realm_info != None
          - realm_info.realm_info.realm == "censhare"
        fail_msg: censhare realm does not exist.
        success_msg: censhare realm exists.

    - name: Obtain access token
      ansible.builtin.uri:
        url: http://localhost:8080/auth/realms/master/protocol/openid-connect/token
        method: POST
        body: client_id=admin-cli&username=admin&password=secret&grant_type=password
        headers:
          Content-Type: application/x-www-form-urlencoded
        status_code: 200
        validate_certs: false
      register: token_response

    - name: Set access token as a fact
      ansible.builtin.set_fact:
        access_token: "{{ token_response.json.access_token }}"

    - name: Check if censhare5 client exists
      ansible.builtin.uri:
        url: http://localhost:8080/auth/admin/realms/censhare/clients?clientId=censhare5
        method: GET
        headers:
          Authorization: Bearer {{ access_token }}
        status_code: 200
        validate_certs: false
      register: censhare5_client_info

    - name: Verify the censhare5 client exists
      ansible.builtin.assert:
        that:
          - censhare5_client_info.json | length > 0
        fail_msg: censhare5 client does not exist.
        success_msg: censhare5 client exists.

    - name: Check if desktop-app client exists
      ansible.builtin.uri:
        url: http://localhost:8080/auth/admin/realms/censhare/clients?clientId=desktop-app
        method: GET
        headers:
          Authorization: Bearer {{ access_token }}
        status_code: 200
        validate_certs: false
      register: desktop_app_client_info

    - name: Verify the desktop-app client exists
      ansible.builtin.assert:
        that:
          - desktop_app_client_info.json | length > 0
        fail_msg: desktop-app client does not exist.
        success_msg: desktop-app client exists.

    - name: Check if keycloak-service user exists
      ansible.builtin.uri:
        url: http://localhost:8080/auth/admin/realms/censhare/users?username=keycloak-service
        method: GET
        headers:
          Authorization: Bearer {{ access_token }}
        status_code: 200
        validate_certs: false
      register: keycloak_service_user_info

    - name: Verify the keycloak-service user exists
      ansible.builtin.assert:
        that:
          - keycloak_service_user_info.json | length > 0
        fail_msg: keycloak-service user does not exist.
        success_msg: keycloak-service user exists.
