{{ ansible_managed | comment }}
## Service port
server.port: 8082
# Required to use Load Balancer headers and send the right redirect_uri to keycloak
server.use-forward-headers: true

# Disable white label error
server.error.whitelabel.enabled: false

## logging
logging.level.root: INFO
logging.level.org.springframework.cloud: INFO
logging.level.com.censhare.core.cloudgateway: INFO
# Log incoming requests. Set from INFO to OFF if you feel annoyed about logging each route.
# But our suggestion is to keep this enabled to allow for easier problem analysis during runtime.
logging.level.com.censhare.core.cloudgateway.RequestLoggingFilter: INFO
# Activate detailed tracing of requests. Very verbose!
# logging.level.org.springframework.web: TRACE
# logging.level.org.springframework.web.HttpLogging: TRACE

# Uncomment this line, if Zipkin is NOT available (e.g. on test or local environments)
spring.zipkin.enabled: false

# Uncomment this if OpenTelemetry Collector in Jaeger is NOT available
otel.sdk.disabled: true

## keycloak client ID and name
spring.security.oauth2.client.registration.keycloak.client-id: {{ censhare_keycloak_client_id }}
spring.security.oauth2.client.registration.keycloak.client-name: {{ censhare_keycloak_client_name }}
## Please use client secret from your keycloak server here:
spring.security.oauth2.client.registration.keycloak.client-secret: {{ censhare_keycloak_client_secret }}

## Replace following domain with the correct one where Keycloak is running at
KEYCLOAK_DOMAIN: {{ censhare_keycloak_domain }}
## Optional: replace following value with correct keycloak OpenID API base
##    This is usually needed only to use different realm or when the keycloak has path prefix (neither is recommended).
KEYCLOAK_REALM_NAME: {{ censhare_keycloak_realm }}
AUTH_OPENID_URL: https://${KEYCLOAK_DOMAIN}/auth/realms/${KEYCLOAK_REALM_NAME}/protocol/openid-connect
## Optional, alternative: Replacing following urls allows fine-grained configuration.
##    This is almost never necessary, but it used to be (before 2023.1) the only supported way to configure authorization,
##    and old configuration file is still fully supported.
#spring.security.oauth2.client.provider.keycloak.authorization-uri: ${AUTH_OPENID_URL}/auth
#spring.security.oauth2.client.provider.keycloak.token-uri: ${AUTH_OPENID_URL}/token
#spring.security.oauth2.client.provider.keycloak.user-info-uri: ${AUTH_OPENID_URL}/userinfo
#spring.security.oauth2.client.provider.keycloak.jwk-set-uri: ${AUTH_OPENID_URL}/certs
#spring.security.oauth2.client.registration.keycloak.redirect-uri: https://${KEYCLOAK_DOMAIN}/login/oauth2/code/{registrationId}
#cg.keycloakLogoutUrl: ${AUTH_OPENID_URL}/logout

# use comma-separated list for logoutUrl values in case of custom branding
# the default value /censhare5/client/logout must be here as well
cg.logoutUrl: {{ censhare_cgw_brandings | map(attribute='path') | product(['/logout']) | map('join') | join(',') }}

## requests that should NOT be redirected to keycloak:
##  if the request patch matches and there is no valid JWT token, the request ends with HTTP 401 UNAUTHORIZED
##  this prevents most of the cases when some duplicate "side" request triggers login while the user is already on login page
##    (when such thing happens, the authorization flow is broken and CGW displays error - see CSVASTXX-828)
#cg.noLoginPageRegex: '.*[.](js|js.gz|css|css.gz|png|jpg|jpeg|gif|webp)$'

## Note: censhareLogoutUrl is an internal url, invoked directly (REST API), so it must not use the public https hostname
#cg.censhareLogoutUrl: http://censhare-server/forward/rest/service/webserver/rest/csLogout
#cg.sessionCheckIntervalMs: 60000
#cg.sessionTimeoutSec: 1500
#cg.maxSessions: 10000
#cg.expiredSessionFullLogout: true
#cg.useSecureSessionCookie: false
## bytes limit for response body dump, 2048 bytes by default
#cg.responseLogDumpLimit: 2048
# settings to retry connections - change them ONLY because of a reason
#cg.maxRetryAttempts: 3
#cg.minRetryDelaySeconds: 5
# comma-separated list of URLS
#cg.logoutListeners: [http://censhare-server/backchannel/service/rest/logout]
#cg.freshTokenSendIntervalMs: 60000
#cg.freshTokenListeners: [http://censhare-server/forward/rest/service/webserver/rest/csRefreshToken,
# http://another-service/refresh-token]

# INTERNAL hostname (and optionally also a colon and port number) used to connect to the censhare server
#   no protocol, http:// and ws:// is added automatically
#   warning: this is usually NOT the public domain used by users (in most cases, it is actually firewalled)
CENSHARE_SERVER_HOST_PORT: {{ censhare_server_host_port }}

# INTERNAL hostname (and optionally also a port) used to connect to the Static Resource Server
SRS_HOST_PORT: {{ censhare_srs_host_port }}

spring.cloud.gateway.routes:

## OPTIONAL: Route for handling a back-channel logout call from Keycloak
## uncomment ONLY WHEN BACK-CHANNEL LOGOUT IS NECESSARY
#  - id: censhare5_backchannel_logout
#    uri: http://CLOUD-GATEWAY-HOST:PORT
#    predicates:
#      - Path=/backchannel/logout
#    filters:
#      - BackchannelLogout

{% for branding in censhare_cgw_brandings %}
        ## Route for external password change. Opens Keycloak's account page.
        - id: {{ branding.name }}_change_password_redirect
          uri: https://${KEYCLOAK_DOMAIN}
          predicates:
            - Path={{ branding.path }}/change-password
          filters:
            - SetPath=/auth/realms/${KEYCLOAK_REALM_NAME}/account/password

        ## Routes to censhare-Server, please change http://censhare-server URLs to point to your censhare-Server.
        - id: {{ branding.name }}_rest_endpoint
          uri: http://${CENSHARE_SERVER_HOST_PORT}
          predicates:
            - Path={{ branding.path }}/rest/service/webserver/**
          filters:
            - RewritePath={{ branding.path }}/rest/service/webserver/(?<segment>.*), /ws/rest/service/webserver/$\{segment}
            - CustomTokenRelay

        - id: {{ branding.name }}_forward_rest_endpoint
          uri: http://${CENSHARE_SERVER_HOST_PORT}
          predicates:
            - Path={{ branding.path }}/rest/**
          filters:
            - RewritePath={{ branding.path }}/rest/(?<segment>.*), /forward/rest/$\{segment}
            - CustomTokenRelay

        ## Route for external style guide. Opens censhare style guide page.
        ## Please change http://localhost:8082 URL to point to your cloud gateway server.
        - id: {{ branding.name }}_styleguide
          uri: http://localhost:8082
          predicates:
            - Path={{ branding.path }}/styleguide/**
          filters:
            - SetPath={{ branding.path }}/styleguide.html
            - CustomTokenRelay

        - id: {{ branding.name }}_upload_endpoint
          uri: http://${CENSHARE_SERVER_HOST_PORT}
          predicates:
            - Path={{ branding.path }}/upload
          filters:
            - RewritePath={{ branding.path }}/upload, /webserver/upload
            - CustomTokenRelay

        ## Routes to censhare-Server, please change ws://censhare-server URLs to point to your censhare-Server.
        ## e.g. ws://localhost:9000 If it's running on the same machine as cloud-gateway
        - id: {{ branding.name }}_websocket_endpoint
          uri: ws://${CENSHARE_SERVER_HOST_PORT}
          predicates:
            - Path={{ branding.path }}/channel/
          filters:
            - RewritePath={{ branding.path }}/(?<segment>/?.*)/, /webserver/websocket/$\{segment}
            - CustomTokenRelay

        ## Routes to static-resource-server, please change uri to point to your static-resource-server
        ## e.g. http://localhost:8081 If it's running on the same machine as cloud-gateway
        - id: {{ branding.name }}_branding
          uri: http://${SRS_HOST_PORT}
          predicates:
            - Path={{ branding.path }}/**
          filters:
            - RewritePath={{ branding.path }}/(?<segment>.*), /$\{segment}
            - RewritePath={{ branding.path }}, /
            - CustomTokenRelay
            - AddRequestHeader=Branding, {{ branding.name }}

{% endfor %}
        - id: static_resources
          uri: http://${SRS_HOST_PORT}
          predicates:
            - Path=/**
          filters:
            - CustomTokenRelay
            # Passing default branding for customers that have more than one branding
            - AddRequestHeader=Branding, {{ censhare_cgw_default_branding.name }}
