---
# defaults file for ahu_services.censhare.keycloak
censhare_keycloak_version: 24.0.5
censhare_keycloak_self_hosted: true
censhare_keycloak_db_mode: container # || hosted || delegated
censhare_keycloak_db_home_dir: /var/lib/pgsql
censhare_keycloak_db_data_dir: "{{ censhare_keycloak_db_home_dir }}/data"
censhare_keycloak_admin_user: admin
censhare_keycloak_admin_pass: secret
censhare_keycloak_db_host: postgres
censhare_keycloak_db_user: keycloak
censhare_keycloak_db_pass: keycloak
censhare_keycloak_db_name: keycloak
censhare_keycloak_domain: auth.example.com
censhare_keycloak_hostname_url: "https://{{ censhare_keycloak_domain }}/auth"
censhare_keycloak_realm: censhare
censhare_keycloak_realm_roles:
  - create-client
  - impersonation
  - manage-authorization
  - manage-clients
  - manage-events
  - manage-identity-providers
  - manage-realm
  - manage-users
  - query-clients
  - query-groups
  - query-realms
  - query-users
  - realm-admin
  - view-authorization
  - view-clients
  - view-events
  - view-identity-providers
  - view-realm
  - view-users
censhare_keycloak_svc_user: keycloak-service
censhare_keycloak_svc_pass: service_password
censhare_keycloak_client_secret: client_secret
censhare_keycloak_desktop_secret: desktop_secret
censhare_keycloak_smtp_host: mail.example.com
censhare_keycloak_smtp_user: ""
censhare_keycloak_smtp_pass: ""
censhare_keycloak_smtp_from: mailuser@example.com
censhare_keycloak_smtp_from_display_name: "censhare Keycloak"
censhare_keycloak_smtp_reply_to: "no-reply@example.com"
censhare_keycloak_smtp_port: "587"
censhare_keycloak_smtp_starttls: "true"
censhare_keycloak_smtp_ssl: "true"
censhare_keycloak_smtp_auth: "true"
