---
- name: "Assert the censhare-Server RPM is installed"
  ansible.builtin.assert:
    that:
      - "'censhare-Server' in ansible_facts.packages"
    fail_msg: "The censhare-Server RPM is not installed"
    success_msg: "The censhare-Server RPM is installed"
- name: "Assert the censhare-Server version 2023.1.2 is installed"
  ansible.builtin.assert:
    that:
      - "ansible_facts.packages['censhare-Server'][0].version == '2023.1.2'"
    fail_msg: "The version 2023.1.2 is installed is not installed"
    success_msg: "The version 2023.1.2 is installed is installed"
- name: "Assert the censhare-core-cloud-gateway RPM is installed"
  ansible.builtin.assert:
    that:
      - "'censhare-core-cloud-gateway' in ansible_facts.packages"
    fail_msg: "The censhare-core-cloud-gateway RPM is not installed"
    success_msg: "The censhare-core-cloud-gateway RPM is installed"
- name: "Assert the censhare-static-resource-server RPM is installed"
  ansible.builtin.assert:
    that:
      - "'censhare-static-resource-server' in ansible_facts.packages"
    fail_msg: "The censhare-static-resource-server RPM is not installed"
    success_msg: "The censhare-static-resource-server RPM is installed"

- name: Check if /etc/sysconfig/censhare exists
  ansible.builtin.stat:
    path: /etc/sysconfig/censhare
  register: censhare_file

- name: Assert /etc/sysconfig/censhare exists
  ansible.builtin.assert:
    that:
      - censhare_file.stat.exists
    fail_msg: "/etc/sysconfig/censhare does not exist"
    success_msg: "/etc/sysconfig/censhare exists"

- name: Read content of /etc/sysconfig/censhare
  ansible.builtin.slurp:
    src: /etc/sysconfig/censhare
  register: censhare_content

- name: Decode content
  ansible.builtin.set_fact:
    censhare_content_decoded: "{{ censhare_content['content'] | b64decode }}"

- name: Assert CSS_ID is correctly set
  ansible.builtin.assert:
    that:
      - "'CSS_ID=\"master\"' in censhare_content_decoded"
    fail_msg: "CSS_ID is not correctly set in /etc/sysconfig/censhare"
    success_msg: "CSS_ID is correctly set in /etc/sysconfig/censhare"
