---
- name: Check if censhare Core Cloud Gateway configuration file exists
  ansible.builtin.stat:
    path: /opt/censer/core-cloud-gateway/application.yml
  register: cgw_config

- name: Assert file exists
  ansible.builtin.assert:
    that:
      - cgw_config.stat.exists
    fail_msg: "The configuration file does not exist."

- name: Assert correct owner and group
  ansible.builtin.assert:
    that:
      - cgw_config.stat.pw_name == 'censer'
      - cgw_config.stat.gr_name == 'censer'
    fail_msg: "The file owner or group is incorrect."

- name: Assert correct file permissions
  ansible.builtin.assert:
    that:
      - "cgw_config.stat.mode == '0644'"
    fail_msg: "File permissions are not set to 0644."

- name: Check content of the configuration file
  ansible.builtin.slurp:
    src: /opt/censer/core-cloud-gateway/application.yml
  register: cgw_config_content

- name: Parse YAML content to check validity
  ansible.builtin.shell: |
    python3 -c "import yaml, sys; yaml.safe_load(sys.stdin.read())"
  args:
    stdin: "{{ cgw_config_content['content'] | b64decode }}"
  register: yaml_test
  failed_when: yaml_test.rc != 0
  changed_when: false

- name: Assert that the YAML file is valid
  ansible.builtin.assert:
    that:
      - yaml_test.rc == 0
    fail_msg: "/opt/censer/core-cloud-gateway/application.yml contains invalid YAML."

- name: Assert file content
  ansible.builtin.assert:
    that:
      - "'# Ansible managed: Do NOT edit this file manually!' in (cgw_config_content.content | b64decode)"
      - "'KEYCLOAK_DOMAIN: censhare-auth.example.com' in (cgw_config_content.content | b64decode)"
      - "'KEYCLOAK_REALM_NAME: censhare' in (cgw_config_content.content | b64decode)"
      - "'CENSHARE_SERVER_HOST_PORT: localhost:9000' in (cgw_config_content.content | b64decode)"
      - "'SRS_HOST_PORT: localhost:8081' in (cgw_config_content.content | b64decode)"
    fail_msg: "The file content is not as expected."
