---
- name: Ensure runc is installed
  become: true
  ansible.builtin.yum:
    name: runc
    state: present

- name: Create /etc/containers directory if it doesn't exist
  become: true
  ansible.builtin.file:
    path: /etc/containers
    state: directory
    mode: '0755'

- name: Configure Podman to use runc as the default runtime
  become: true
  ansible.builtin.copy:
    dest: /etc/containers/containers.conf
    content: |
      [engine]
      runtime = "runc"
    mode: '0644'
- name: Create system user postgres
  become: true
  ansible.builtin.user:
    name: postgres
    home: "{{ censhare_keycloak_db_home_dir }}"
    comment: "PostgreSQL User"
    state: present
- name: "Create {{ censhare_keycloak_db_data_dir }}"
  become: true
  ansible.builtin.file:
    path: "{{ censhare_keycloak_db_data_dir }}"
    state: directory
    owner: postgres
    group: postgres
- name: "Pull the PSQL image"
  become: true
  containers.podman.podman_image:
    name: docker.io/library/postgres
    tag: alpine
    state: present
- name: "Create Postgres container using Podman"
  become: true
  containers.podman.podman_container:
    name: postgres
    image: postgres:alpine
    state: started
    restart_policy: always
    network: keycloak
    volumes:
      - "/etc/passwd:/etc/passwd:ro"
      - "{{ censhare_keycloak_db_data_dir }}:/var/lib/postgresql/data"
    env:
      POSTGRES_USER: "{{ censhare_keycloak_db_user }}"
      POSTGRES_PASSWORD: "{{ censhare_keycloak_db_pass }}"
      POSTGRES_DB: "{{ censhare_keycloak_db_name }}"
  register: keycloak_db_container
- name: "Set DB Host"
  ansible.builtin.set_fact:
    censhare_keycloak_db_host: "{{ keycloak_db_container.container.NetworkSettings.Networks.keycloak.IPAddress }}"  
