---
# tasks file for configuring the database in container mode

- name: Ensure runc is installed (Podman)
  when: container_engine == "podman"
  become: true
  ansible.builtin.yum:
    name: runc
    state: present

- name: Create /etc/containers directory if it doesn't exist (Podman)
  when: container_engine == "podman"
  become: true
  ansible.builtin.file:
    path: /etc/containers
    state: directory
    mode: '0755'

- name: Configure Podman to use runc as the default runtime (Podman)
  when: container_engine == "podman"
  become: true
  ansible.builtin.copy:
    dest: /etc/containers/containers.conf
    content: |
      [engine]
      runtime = "runc"
    mode: '0644'

- name: Create system user postgres
  become: true
  ansible.builtin.user:
    name: postgres
    home: "{{ censhare_keycloak_db_home_dir }}"
    comment: "PostgreSQL User"
    state: present

- name: "Create {{ censhare_keycloak_db_data_dir }}"
  become: true
  ansible.builtin.file:
    path: "{{ censhare_keycloak_db_data_dir }}"
    state: directory
    owner: postgres
    group: postgres
    mode: "0755"

- name: "Pull the PSQL image (Podman)"
  when: container_engine == "podman"
  become: true
  containers.podman.podman_image:
    name: docker.io/library/postgres
    tag: alpine
    state: present

- name: "Pull the PSQL image (Docker)"
  when: container_engine == "docker"
  become: true
  community.docker.docker_image:
    name: postgres
    tag: alpine
    source: pull
    state: present

- name: "Create Postgres container using Podman"
  when: container_engine == "podman"
  become: true
  containers.podman.podman_container:
    name: postgres
    image: postgres:alpine
    state: started
    restart_policy: always
    network: keycloak
    volumes:
      - "/etc/passwd:/etc/passwd:ro"
      - "{{ censhare_keycloak_db_data_dir }}:/var/lib/postgresql/data"
    env:
      POSTGRES_USER: "{{ censhare_keycloak_db_user }}"
      POSTGRES_PASSWORD: "{{ censhare_keycloak_db_pass }}"
      POSTGRES_DB: "{{ censhare_keycloak_db_name }}"
  register: keycloak_db_container_podman

- name: "Create Postgres container using Docker"
  when: container_engine == "docker"
  become: true
  community.docker.docker_container:
    name: postgres
    image: postgres:alpine
    state: started
    restart_policy: always
    networks:
      - name: keycloak
    volumes:
      - "/etc/passwd:/etc/passwd:ro"
      - "{{ censhare_keycloak_db_data_dir }}:/var/lib/postgresql/data"
    env:
      POSTGRES_USER: "{{ censhare_keycloak_db_user }}"
      POSTGRES_PASSWORD: "{{ censhare_keycloak_db_pass }}"
      POSTGRES_DB: "{{ censhare_keycloak_db_name }}"
  register: keycloak_db_container_docker

- name: "Set DB Host for Podman"
  when: container_engine == "podman"
  ansible.builtin.set_fact:
    censhare_keycloak_db_host: "{{ keycloak_db_container_podman.container.attrs.NetworkSettings.Networks.keycloak.IPAddress }}"

- name: "Set DB Host for Docker"
  when: container_engine == "docker"
  ansible.builtin.set_fact:
    censhare_keycloak_db_host: "{{ keycloak_db_container_docker.container.NetworkSettings.Networks.keycloak.IPAddress }}"
