---
# tasks file for installing Keycloak in container mode

- name: Ensure /opt/keycloak_themes directory exists
  become: true
  ansible.builtin.file:
    path: /opt/keycloak_themes
    state: directory
    mode: "0755"

- name: Pull the Keycloak image (Podman)
  when: container_engine == "podman"
  become: true
  containers.podman.podman_image:
    name: quay.io/keycloak/keycloak
    tag: "{{ censhare_keycloak_version }}"
    state: present

- name: Pull the Keycloak image (Docker)
  when: container_engine == "docker"
  become: true
  community.docker.docker_image:
    name: quay.io/keycloak/keycloak
    tag: "{{ censhare_keycloak_version }}"
    source: pull
    state: present

- name: Create Keycloak container using Podman
  when: container_engine == "podman"
  become: true
  containers.podman.podman_container:
    name: keycloak
    image: quay.io/keycloak/keycloak:{{ censhare_keycloak_version }}
    state: started
    restart_policy: always
    network: keycloak
    ports:
      - 8080:8080
    command: start
    env:
      KEYCLOAK_ADMIN: "{{ censhare_keycloak_admin_user }}"
      KEYCLOAK_ADMIN_PASSWORD: "{{ censhare_keycloak_admin_pass }}"
      KC_DB: postgres
      KC_DB_URL: jdbc:postgresql://{{ censhare_keycloak_db_host }}/{{ censhare_keycloak_db_name }}
      KC_DB_USERNAME: "{{ censhare_keycloak_db_user }}"
      KC_DB_PASSWORD: "{{ censhare_keycloak_db_pass }}"
      KC_HOSTNAME_URL: "{{ censhare_keycloak_hostname_url }}"
      KC_HTTP_ENABLED: "true"
      KC_HTTP_RELATIVE_PATH: /auth
      KC_PROXY_HEADERS: xforwarded
    volumes:
      - /opt/keycloak_themes:/opt/keycloak/themes

- name: Create Keycloak container using Docker
  when: container_engine == "docker"
  become: true
  community.docker.docker_container:
    name: keycloak
    image: quay.io/keycloak/keycloak:{{ censhare_keycloak_version }}
    state: started
    restart_policy: always
    networks:
      - name: keycloak
    published_ports:
      - 8080:8080
    command: start
    env:
      KEYCLOAK_ADMIN: "{{ censhare_keycloak_admin_user }}"
      KEYCLOAK_ADMIN_PASSWORD: "{{ censhare_keycloak_admin_pass }}"
      KC_DB: postgres
      KC_DB_URL: jdbc:postgresql://{{ censhare_keycloak_db_host }}/{{ censhare_keycloak_db_name }}
      KC_DB_USERNAME: "{{ censhare_keycloak_db_user }}"
      KC_DB_PASSWORD: "{{ censhare_keycloak_db_pass }}"
      KC_HOSTNAME_URL: "{{ censhare_keycloak_hostname_url }}"
      KC_HTTP_ENABLED: "true"
      KC_HTTP_RELATIVE_PATH: /auth
      KC_PROXY_HEADERS: xforwarded
    volumes:
      - /opt/keycloak_themes:/opt/keycloak/themes

- name: Wait for Keycloak to become available
  ansible.builtin.wait_for:
    host: localhost
    port: 8080
    delay: 10 # Wait 10 seconds before starting the checks
    timeout: 300 # Timeout after 300 seconds
    state: started
