---
# tasks file for ahu_services.censhare.keycloak
- name: "Install podman"
  when: censhare_keycloak_self_hosted
  ansible.builtin.include_tasks: podman.yml

- name: "Configure Delegated Database"
  when: censhare_keycloak_db_mode == "delegated" and censhare_keycloak_self_hosted
  ansible.builtin.include_tasks: database_delegated.yml

- name: "Configure Delegated Database"
  when: censhare_keycloak_db_mode == "container" and censhare_keycloak_self_hosted
  ansible.builtin.include_tasks: database_container.yml

- name: "Keycloak Container Setup"
  when: censhare_keycloak_self_hosted
  ansible.builtin.include_tasks: keycloak_install.yml

- name: "Keycloak censhare Configuration"
  ansible.builtin.include_tasks: keycloak_setup.yml
