#jinja2: lstrip_blocks: "True"
<?xml version="1.0" encoding="UTF-8" ?>
{{ ansible_managed | comment('xml') }}
<mail
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="mail.xsd"
    enabled="true"
    max-invocations="10"
    >
  <!-- comment node for admin client -->
  <comment/>

  <!--
      Available protocols are:
      pop3, smtp, imap (standard)
      pop3s, smtps, imaps (ssl)
  -->{% for account in censhare_server_mail_accounts %}

  <account name="{{ account.name }}"
      store-protocol="{{ account.store }}"
      transport-protocol="{{ account.trans }}"
      >
    <!--
    Additional properties may be set here.
    See http://java.sun.com/products/javamail/javadocs/index.html for a list of available properties.
      -->
{% if account.properties %}
  {% for key, value in account.properties.items() %}
    {% if value != '' %}
      {% if "password" in key %}
    <property key="{{ key }}" value="{{ value | to_json | replace("\"", "") }}"/>
      {% else %}
    <property key="{{ key }}" value="{{ value | to_json | replace("\"", "") | e }}"/>
      {% endif %}
    {% endif %}
  {% endfor %}
{% endif %}

  </account>
{% endfor %}

</mail>
