---
- name: Remote Setup | Generate SSH key pair
  delegate_to: "{{ censhare_server_master_server_delegate }}"
  become: true
  become_user: corpus
  block:
    - name: Create .ssh on the master if not existing
      ansible.builtin.file:
        path: "~/.ssh"
        mode: '0700'
        state: directory
    - name: Create key pair
      community.crypto.openssh_keypair:
        path: ~/.ssh/id_rsa
        comment: "{{ censhare_server_master_server_delegate }}key"
    - name: Get id_rsa.pub
      ansible.builtin.slurp:
        src: "~/.ssh/id_rsa.pub"
      register: pubkey
      changed_when: false

- name: Remote Setup | Copy SSH key to current remote
  become: true
  ansible.posix.authorized_key:
    user: corpus
    state: present
    key: "{{ pubkey.content | b64decode }}"
  when: censhare_server_css_id != 'master'

- name: Remote Setup | Create keystore
  when: censhare_server_css_id == 'master'
  block:
    - name: Remote Setup | Install python3-cryptography
      become: true
      ansible.builtin.dnf:
        name: python3-cryptography
        state: present

    - name: Remote Setup | Ensure directory exists for local self-signed TLS certs.
      become: true
      ansible.builtin.file:
        path: /etc/ssl/censhare
        state: directory
        recurse: true

    - name: Remote Setup | Generate an OpenSSL private key.
      become: true
      community.crypto.openssl_privatekey:
        path: /etc/ssl/censhare/privkey.pem

    - name: Remote Setup | Generate an OpenSSL CSR.
      become: true
      community.crypto.openssl_csr:
        path: /etc/ssl/censhare/system.csr
        privatekey_path: /etc/ssl/censhare/privkey.pem
        common_name: system

    - name: Remote Setup | Generate a Self Signed OpenSSL certificate.
      become: true
      community.crypto.x509_certificate:
        path: /etc/ssl/censhare/system.pem
        privatekey_path: /etc/ssl/censhare/privkey.pem
        csr_path: /etc/ssl/censhare/system.csr
        provider: selfsigned

    - name: Remote Setup | Generate PKCS#12 file
      become: true
      community.crypto.openssl_pkcs12:
        action: export
        path: /etc/ssl/censhare/system.p12
        privatekey_path: /etc/ssl/censhare/privkey.pem
        certificate_path: /etc/ssl/censhare/system.pem
        friendly_name: system@remote-server
        passphrase: corpus
        state: present
      no_log: true

    - name: Remote Setup | Import SSL certificate for system@remote-server to keystore
      become: true
      community.general.java_cert:
        keystore_path: /opt/corpus/cscs/app/config/keystore
        keystore_pass: corpus
        keystore_create: true
        keystore_type: JKS
        cert_alias: system@remote-server
        pkcs12_path: /etc/ssl/censhare/system.p12
        pkcs12_password: corpus
        pkcs12_alias: system@remote-server
        state: present
      no_log: true

    - name: Remote Setup | set permissions to keystore
      become: true
      ansible.builtin.file:
        path: /opt/corpus/cscs/app/config/keystore
        owner: corpus
        group: corpus
        mode: '0600'

- name: "Configure Remote Service | Create custom Remote directory"
  become: true
  ansible.builtin.file:
    path: "{{ censhare_server_services_path }}/remoteserver"
    state: directory
    mode: '0755'
    owner: "corpus"
    group: "corpus"

- name: "Configure Remote Service | Create custom Remote config"
  delegate_to: "{{ censhare_server_master_server_delegate }}"
  become: true
  ansible.builtin.template:
    src: "{{ censhare_server_majmin_version }}/services/remoteserver_xml.j2"
    dest: "{{ censhare_server_services_path }}/remoteserver/config.{{ censhare_server_css_id }}.xml"
    mode: '0644'
    owner: "corpus"
    group: "corpus"

- name: Synchronize xml configs to remote
  delegate_to: "{{ censhare_server_master_server_delegate }}"
  become: true
  become_user: corpus
  ansible.posix.synchronize:
    src: "/opt/corpus/cscs/app/"
    dest: "/opt/corpus/cscs/app/"
    set_remote_user: false
    rsync_path: "/bin/rsync"
    rsync_opts:
      - "--prune-empty-dirs"
  register: remote_sync
